body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.margin-bottom-5{
  margin-bottom: 5px;
}

.padding-top-10{
  padding-top: 10px;
}

ul.errors {
  list-style-type: none;
  padding: 0px;
}

li.errors {
  color: #a94442;
}

div.alert {
  padding: 10px;
  margin-bottom: 10px;
}
